<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miel van Sleeuwen</title>

    <!-- CSS -->
    <link rel="stylesheet" href="style/stylesheet.css">
    <link rel="stylesheet" href="style/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Martian+Mono:wght@100..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
</head>
<body>
    <header class="desktop-header">
        <div>
            <img class="logo" src="assets/home/miel.svg" alt="Logo">
        </div>

        <div class="nav-buttons">
            <a href="/" class="fa-solid fa-house"></a>
            <a href="/learning-journal">Journal</a>
            <a href="/projects">Projects</a>
            <a href="/about_me">About me</a>
            <a href="/contact">Contact</a>
        </div>
    </header>

    <header class="mobile-header">
        <div>
            <img class="logo" src="assets/home/miel.svg" alt="Logo">
        </div>
        <div class="dropdown">
            <label>Menu</label>
            <ul>
                <li href="/learning-journal">Journal</li>
                <li href="/projects">Projects</li>
                <li href="/about_me">About Me</li>
                <li href="/contact">Contact</li>
            </ul>

        </div>

        <script type="module">
     import { marked } from "https://cdn.jsdelivr.net/npm/marked/lib/marked.esm.js";
    document.getElementById('content').innerHTML =
    marked.parse('# Marked in the browser\n\nRendered by **marked**.');
    </script>
    </header>