:root {
    /* gradient */
    --primary-color-gradient: linear-gradient(#474F96, #0A1252);
    --secondary-color-gradient: linear-gradient(#938d8d, #111111);
    
    /* dark-mode */
    --color-1: #0A1252;
    --color-2: #131633;

    /* contradict */
    --color-3: #FEFEFE;
    --color-4: #9f9d9d;
    --color-5: #a7aee8;

    /* light-mode */
    --l-color-1: #d1d1d1;
    --l-color-2: #959de0;

    /* contradict */
    --l-color-3: #0A1252;
    --l-color-4: #131633;
    --l-color-5: #0f101e;

    /* background colors */
    --bg-color-1: #0E0F0F;
    /* --bg-color-2: must be daylight */
    
    /* border-radius */
    --radius-1: 3em;

    /* border */
    --border: 2px solid #0f101e;

    /* font-sized */
    --h1-desktop: 122px;
    --h2-desktop: 96px;
    --h3-desktop: 84px;
    --h4-desktop: 64px;
    --h5-desktop: 48px;
    --h6-desktop: 32px;
    --p-desktop: 16px;

    --h1-tablet: 96px;
    --h2-tablet: 84px;
    --h3-tablet: 72px;
    --h4-tablet: 56px;
    --h5-tablet: 40px;
    --h6-tablet: 28px;
    --p-tablet: 14px;

    --h1-mobile: 84px;
    --h2-mobile: 72px;
    --h3-mobile: 64px;
    --h4-mobile: 48px;
    --h5-mobile: 32px;
    --h6-mobile: 24px;
    --p-mobile: 12px;
}

* {
    text-decoration: none;
}

/* fonts */

h1 {
    font-family: 'Garet Heavy';
    font-size: var(--h1-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h1-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h1-mobile);
    }
}

h2 {
    font-family: "Jersey 20";
    font-size: var(--h2-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h2-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h2-mobile);
    }
}

h3 {
    font-family: 'Garet Book';
    font-size: var(--h3-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h3-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h3-mobile);
    }
}

h4 {
    font-family: 'Garet Book';
    font-size: var(--h4-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h4-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h4-mobile);
    }
}

h5 {
    font-family: 'Garet Book';
    font-size: var(--h5-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h5-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h5-mobile);
    }
}

h6 {
    font-family: 'Archivo';
    font-size: var(--h6-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--h6-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--h6-mobile);
        -webkit-text-stroke: 1px black;
    }
}

p {
    font-family: 'Archivo';
    font-size: var(--p-desktop);
    color: var(--color-3);

    @media (max-width:1200px) {
        font-size: var(--p-tablet);
    }

    @media (max-width:768px) {
        font-size:  var(--p-mobile);
    }
}




.jersey-20-regular {
    font-family: "Jersey 20", serif;
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
      font-family: "Garet Heavy";
      src: url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.eot");
      src: url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.eot?#iefix")format("embedded-opentype"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.woff2")format("woff2"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.woff")format("woff"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.ttf")format("truetype"),
      url("https://db.onlinewebfonts.com/t/1e448c1940b5b2e20a8559ec2f4c6a1f.svg#Garet Heavy")format("svg");
  }

  @font-face {
    font-family: "Garet Book";
    src: url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.eot");
    src: url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/5ebe3f5f5a6cdaffeafd16be0c93df0b.svg#Garet Book")format("svg");
}

.archivo {
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "width" 100;
}