:root {
    --primary-color: linear-gradient(#FFF, #9b9b9b);
    --secondary-color: #0A1252;
    --luckynumber-color: #0775ff;
}


* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    overflow: visible;
}

h1 {
    font-family: Rowdies;
}

/* never stop exploring */
#text {
    position: absolute;
    left: 4%;
    top: 15%;
}

#title {
    position: absolute;
    right: 5%;
    top: 10%;
    scale: 1.5;

    @media only (min-width: 768px) {
        right: 50%;
        scale: 1;
    }
}



/* never */

#Never path:nth-child(1) {
    stroke-dasharray: 15px;
    stroke-dashoffset: 15px;
    animation: writing 2s ease forwards 0.2s;
}

#Never path:nth-child(2) {
    stroke-dasharray: 43px;
    stroke-dashoffset: 43px;
    animation: writing 2s ease forwards 0.4s;

}

#Never path:nth-child(3) {
    stroke-dasharray: 42px;
    stroke-dashoffset: 42px;
    animation: writing 2s ease forwards 0.8s;

}

#Never path:nth-child(4) {
    stroke-dasharray: 38px;
    stroke-dashoffset: 38px;
    animation: writing 2s ease forwards 1.2s;

}

#Never path:nth-child(5) {
    stroke-dasharray: 46px;
    stroke-dashoffset: 46px;
    animation: writing 2s ease forwards 1.4s;

}

#Never path:nth-child(6) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 1.7s;

}

/* stop */

#stop path:nth-child(1) {
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: writing 2s ease forwards 0.2s;
}

#stop path:nth-child(2) {
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: writing 2s ease forwards 0.4s;

}

#stop path:nth-child(3) {
    stroke-dasharray: 10px;
    stroke-dashoffset: 10px;
    animation: writing 2s ease forwards 0.8s;

}

#stop path:nth-child(4) {
    stroke-dasharray: 40px;
    stroke-dashoffset: 40px;
    animation: writing 2s ease forwards 1.2s;
}

#stop path:nth-child(5) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 1.5s;
}

/* exploring */

#exploring path:nth-child(1) {
    stroke-dasharray: 90px;
    stroke-dashoffset: 90px;
    animation: writing 2s ease forwards 0.1s;
}

#exploring path:nth-child(2) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 0.2s;
}

#exploring path:nth-child(3) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 0.3s;
}

#exploring path:nth-child(4) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 0.3s;
}

#exploring path:nth-child(5) {
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
    animation: writing 2s ease forwards 0.5s;
}

#exploring path:nth-child(6) {
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
    animation: writing 2s ease forwards 0.5s;
}

#exploring path:nth-child(7) {
    stroke-dasharray: 60px;
    stroke-dashoffset: 60px;
    animation: writing 2s ease forwards 0.7s;
}

#exploring path:nth-child(8) {
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    animation: writing 2s ease forwards 0.9s;
}

#exploring path:nth-child(9) {
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: writing 2s ease forwards 1.0s;
}

#exploring path:nth-child(10) {
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation: writing 2s ease forwards 1.2s;
}

#exploring path:nth-child(11) {
    stroke-dasharray: 35px;
    stroke-dashoffset: 35px;
    animation: writing 2s ease forwards 1.7s;
}

#exploring path:nth-child(12) {
    stroke-dasharray: 35px;
    stroke-dashoffset: 35px;
    animation: writing 2s ease forwards 1.9s;
}

/* miel */
#Miel path:nth-child(1) {
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: writing 2s ease forwards 0.2s;
}

#Miel path:nth-child(2) {
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: writing 2s ease forwards 0.4s;
}

#Miel path:nth-child(3) {
    stroke-dasharray: 10px;
    stroke-dashoffset: 10px;
    animation: writing 2s ease forwards 0.8s;
}

#Miel path:nth-child(4) {
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    animation: writing 2s ease forwards 1.2s;
}

#Miel path:nth-child(5) {
    stroke-dasharray: 89px;
    stroke-dashoffset: 89px;
    animation: writing 2s ease forwards 1.5s;
}

/* van */
#van path:nth-child(1) {
    stroke-dasharray: 60px;
    stroke-dashoffset: 60px;
    animation: writing 2s ease forwards 1.6s;
}

#van path:nth-child(2) {
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: writing 2s ease forwards 1.7s;
}

#van path:nth-child(3) {
    stroke-dasharray: 110px;
    stroke-dashoffset: 110px;
    animation: writing 2s ease forwards 1.9s;
}

/* sleeuwen */

#Sleeuwen path:nth-child(1) {
    stroke-dasharray: 170px;
    stroke-dashoffset: 170px;
    animation: writing 2s ease forwards 0.2s;
}

#Sleeuwen path:nth-child(2) {
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: writing 2s ease forwards 0.4s;
}

#Sleeuwen path:nth-child(3) {
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: writing 2s ease forwards 0.8s;
}

#Sleeuwen path:nth-child(4) {
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: writing 2s ease forwards 1.2s;
}

#Sleeuwen path:nth-child(5) {
    stroke-dasharray: 89px;
    stroke-dashoffset: 89px;
    animation: writing 2s ease forwards 1.5s;
}

#Sleeuwen path:nth-child(6) {
    stroke-dasharray: 140px;
    stroke-dashoffset: 140px;
    animation: writing 2s ease forwards 0.8s;
}

#Sleeuwen path:nth-child(7) {
    stroke-dasharray: 120px;
    stroke-dashoffset: 120px;
    animation: writing 2s ease forwards 1.2s;
}

#Sleeuwen path:nth-child(8) {
    stroke-dasharray: 89px;
    stroke-dashoffset: 89px;
    animation: writing 2s ease forwards 1.5s;
}

/* line */

#line path:nth-child(1) {
    stroke-dasharray: 210px;
    stroke-dashoffset: 210px;
    animation: writing 1.2s ease forwards 3.2s;
}

#line path:nth-child(2) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 3.4s;
}

#line path:nth-child(3) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 3.8s;
}



@keyframes writing{
    to{
        stroke-dashoffset: 0;
    }
}


.dropdownmobile {
    text-align: center;
    background-color: #0A1252;
    padding: 10px;
    position: relative;
}

.dropdownbutton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowncontent {
    display: none;
    position: absolute;
    top: 60px; /* Adjusted for button height */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdowncontent a {
    color: #0A1252;
    border: 3px solid var(--secondary-color);
    padding: 12px 16px;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #ddd;
}

.dropdownmobile:hover .dropdowncontent {
    display: block;
}

.week-1,
.week-2,
.week-3 {
    display: none;
}

.active {
    display: block;
}

.dropdownmobile button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1em;
}

.snowworld video {
    top: 0;
    left: 0;
    width: 125%;
    height: 125%;
    position: fixed;
    object-fit: cover;
    z-index: -1;
    animation: object1moving 15s linear infinite;
}

.snowhills {
    position: relative;
    width: 100%;
    height: 100%;
}

.snowhills.scroll {
    animation: snowhillsup 0.3s ease-in;
}

@keyframes snowhillsup {
    0% {
        transform: translateY(5em);
    }

    100% {
        transform: translateY(0);
    }
}

.miel-1 {
    display: block;
    position: absolute;
    z-index: 3;
    top: 17%;
    right: 5%;
    scale: 0.8;
    filter: drop-shadow(0.1em 0.1em 0 #000);
    transition: opacity 0.3s ease;
}

.miel-2 {
    opacity: 0;
    position: absolute;
    z-index: 2;
    top: 17%;
    right: 5%;
    scale: 0.8;
    transition: opacity 0.3s ease;
}

.miel-1:hover {
    opacity: 0;
}

.miel-1:hover + .miel-2 {
    opacity: 1;
}

.banner h1 {
    position: absolute;
    z-index: 6;
    top: 2%;
    right: 2%;
    font-size: 125px;
    color: powderblue;
    filter:drop-shadow(0.2px,0.3px,0.2 #0d0d0d);
    -webkit-text-stroke-color: #0d0d0d;
    -webkit-text-stroke-width: medium;
    opacity: 0;
}


.miel-1:hover + .banner h1 {
    opacity: 1;
}


.objects img:nth-of-type(1) {
    position: absolute;
    top: 63%;
    left: 16%;
    rotate: 19deg;
    scale: 1.4;
    display: none;
}

.objects img:nth-of-type(1).scroll {
    display: block;
    animation: toabove 0.3s linear;
}

.objects img:nth-of-type(2) {
    position: absolute;
    top: 76%;
    left: 4%;
    scale: 1.5;  
}

.objects img:nth-of-type(3) {
    position: absolute;
    top: 79%;
    left: 27%;
    scale: 1.5;
    rotate: -15deg;
}

.objects img:nth-of-type(4) {
    position: absolute;
    top: 78%;
    right: 53%;
    rotate: 10deg;
}

.objects img:nth-of-type(5) {
    position: absolute;
    top: 8%;
    left: 15%;
    scale: 1.6;
}

.objects img:nth-of-type(6) {
    position: absolute;
    top: 80%;
    left: 56%;
    scale: 1.5;
    rotate: -5deg;
}

.objects img:nth-of-type(7) {
    position: absolute;
    top: 86%;
    right: 1%;
    scale: 1.4;
}


/* Banner styles for mobile */
body {
    background-image: linear-gradient(to bottom right, #9ca4ff,#07275c);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

.object1 {
    position: absolute;
    z-index: 3;
    top: 26%;
    animation: object1moving 15s linear infinite;
    width: 700px;
}


.grass {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: -10%;
}

/* Keyframes */
@keyframes object1moving {
    0% {
        right: 0px;
    }
    50% {
        right: -50px;
    }
    100% {
        right: 0px;
    }
}

@keyframes backgroundmoving {
    0% {
        left: 0px;
    }
    100% {
        left: -100px;
    }
}

/* Picnic table styles */

@keyframes toabove {
    0% {
        transform: translateY(3em);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@keyframes pickup {
    0% {
     transform: scale(0.3) rotateX(40deg);
    }

    100% {
        transform: scale(0.3) rotateX(30deg) translateY(-2em);  
    }
}

.sprintblock {
    display: none;
}

.sprintblock.on {
    display: block;
    background-color: #ddcfc3;
    border: 2px solid #d19f69;
    width: 256px;
    height: 350px;
    position: absolute;
    z-index: 4;
    top: 72%;
    left: 27%;
    scale: 1.2;
    animation: slidein 1s ease-in;
    
    h2 {
        margin: 0.5em;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .rumikublogo1 {
        opacity: 0.5;
        position: relative;
        top: -15%;
        scale: 0.5;
    }

    .rumikublogo2 {
        opacity: 0.5;
        position: relative;
        left: 82%;
        top: 5%;
        scale: 0.5;
    }

    .cross {
        position: absolute;
        right: 8px;
        top: 4px;
        z-index: 4;
        scale: 0.8;
        opacity: 0.5;
    }


    .Sprint-1,
    .Sprint-2,
    .Sprint-3,
    .Sprint-4,
    .Sprint-5,
    .Sprint-6 {
        display: grid;
        grid-template-columns: 10% 1fr 1fr 1fr 10%;
        margin: 0.3em;
        gap: 2px;
        text-align: center;
        margin-top: -3.5em;

        a:nth-of-type(1) {
            grid-column-start: 2;
        }

        a {
            background-color: #d19f69;
            border: 2px solid #000;
            padding: 0.2em;
            font-size: 0.6em;
        }
    }

    .weekactive {
        scale: 1.1;
    }

    .textfield {
        height: 213px;
        width: 191px;
        background-color: #dab186;
        position: relative;
        left: 12%;
        top: 2%;
        overflow: scroll;
        padding: 0.3em;

        h3 {
            font-size: 16px;
            
        }

        h3:nth-of-type(2),
        h3:nth-of-type(3),
        h3:nth-of-type(4)
         {
            margin-top: 1em;
        }

        h4 {
            margin-left: 1em;
            font-size: 12px;
        }

        ol {
            margin-left: 1.2em;
            font-size: 9px;
        }
    }

    h2:nth-of-type(2) {
        position: relative;
        top: -13%;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    } 
}

.content {
    display: none;
}

.rumikubtitle {
    position: absolute;
    top: 50%;
    left: 30%;
}

.rumikub-board {
    position: relative;
    top: -44%;
    scale: 0.16;
    left: -23%;
    width: 60%;
    height: 10%;
}

.rumback {
    scale: 0.9;
    position: relative;
    top: -5%;
}

.rumfront {
    position: relative;
    top: 45%;
    transform: perspective(1.4);
    transform: rotateX('5deg');
}


.blocks img:nth-of-type(1) {
    position: absolute;
    left: 4em;
    top: 111%;
    width: 2em;
}

.blocks img:nth-of-type(2) {
    position: absolute;
    left: 7em;
    top: 111%;
    width: 2em;
}

.blocks img:nth-of-type(3) {
    position: absolute;
    left: 10em;
    top: 111%;
    width: 2em;
}

.blocks img:nth-of-type(4) {
    position: absolute;
    left: 11em;
    top: 120%;
    width: 2em;
}

.blocks img:nth-of-type(5) {
    position: absolute;
    left: 14em;
    top: 120%;
    width: 2em;
}

.blocks img:nth-of-type(6) {
    position: absolute;
    left: 17em;
    top: 120%;
    width: 2em;
}

.blocks img:nth-of-type(7) {
    position: absolute;
    left: 4em;
    top: 95.5%;
    width: 1.8em;
}

.blocks img:nth-of-type(8) {
    position: absolute;
    left: 7em;
    top: 95.5%;
    width: 1.8em;
}

.blocks img:nth-of-type(9) {
    position: absolute;
    left: 10em;
    top: 95.5%;
    width: 1.8em;
}

.blocks img:nth-of-type(10) {
    position: absolute;
    left: 13em;
    top: 95.5%;
    width: 1.8em;
}

.blocks img:nth-of-type(11) {
    position: absolute;
    left: 16em;
    top: 95.5%;
    width: 1.8em;
}

.blocks img:nth-of-type(12) {
    position: absolute;
    left: 19em;
    top: 95.5%;
    width: 1.8em;
}

section {
    height: 20em;
}
/* nostalgia channel */

.nostalgiachannel {
    height: 40em;
    background: linear-gradient(#0A1252, #474F96);
    padding: 1.5em;
    display: grid;
    place-items: center;
    gap: 1em;
    grid-template-rows: 6fr 1fr 1fr;
    margin-top: -1%;
}

.nostalgiachannel iframe {
    width: 100%;
    height: 70%;
}

.nostalgiachannel h2 {
    color: #DEDEDE;
}

.nostalgiachannel p {
    color: #DEDEDE;
}

.nostalgiachannel a {
    padding: 1em;
    color: #FEFEFE;
    background-color: #0A1252;
    border: 2px solid #FFF ;
    border-radius: 1em;
}

.rumikubmobile {
    display: grid;
    width: 100%;
    margin-bottom: -1em;
}


.urbandesign {
    height: 500px;
}

.street {
    object-fit: cover;
    height: 500px;
    animation: street2 25s infinite;
}

.runningman {
    position: relative;
    top: -169%;
    z-index: 4;
    scale: 0.3;
    left: 0%;
    animation: stopatcrossing 25s infinite;
}


.globe {
    height: 40em;
    background-color: #afd3ff;
}

.worldmap {
    position: relative;
    width: 100%;
    top: 35%;
}

.contact {
    height: 40em;
    background-color: #FEFEFE;
}

.formcarry-container {
    position: relative;
    left: 10%;
}

.formcarry-container label {
    font-size: 24px;
    display: flex;
    padding: 0.2em;
}

.formcarry-container input {
    width: 80%;
    height: 20%;
    font-size: 24px;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE;
    padding: 0.2em;
}

.formcarry-container textarea {
    width: 80%;
    height: 20%;
    font-size: 24px;
    padding: 0.2em;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE;
}

.formcarry-container button {
    position: relative;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE; 
    padding: 1em;
    right: -30%;
    top: 10%;
    border-radius: 1em;
    font-size: 24px;

}

footer {
    height: 25em;
    background-color: #2d2a2a;
    display: grid;
    place-items: center;
}

.logo {
    display: grid;
    place-items: center;
}

.line {
    height: 0.5em;
    width: 80%;
    background-color: #FEFEFE;
}

.buttons {
    display: flex;
    gap: 1em;
}

.buttons a {
    background-color: #9b9b9b;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    gap: 1em;
    padding: 0.4em;
}

@media only screen and (min-width: 700px) {
    .background {
        width: 768px;
    }

    .rumikub-board {
        top:-49.5%;
    }

    .rumikubtitle {
        left: 60%;
        top: 55%;
        scale: 1.4;
    }
} 


@media only screen and (min-width: 768px) {
    .dropdownmobile {
        display: none;
    }

    .grass {
        display: flex;
    }

    .rumikubmobile {
        display: none;
    }

    .rumikubmobile.pop {
        display: block;
        border: #000 solid 2px;
        position: relative;
        z-index: 4;
        overflow:scroll;
    }

    .background.pop {
        width: 100%;
    }

    .nostalgiachannel {
        display: none;
    }

    .Urbandesign {
        display: none;
    }

    .globe {
        display: none;
    }

    .contact {
        display: none;
    }

    .banner {
        display: block;
    }

    footer {
        display: none;
    }
    
    html {
        overflow:hidden;
    }
}

/* Mobile styles */
@media only screen and (max-width: 768px) {
    .dropdownmobile {
        display: block;
    }

    .grass {
        display: none;
    }

    .object1 {
        display: none;
    }

    .object2 {
        width: 127%;
        top: 10%;
    }
    
    .miel-1 {
        z-index: -1;
        scale: 0.4;
        top: -6%;
        right: -15%;
    }

    .snowhills {
        width: 120%;
        z-index: -1;
    }

    .objects {
        display: none;
    }

    #text {
        display: none;
    }

    #title {
        scale: 0.7;
    }
}


@media only screen and (max-width: 500px) {
    .dropdownmobile {
        display: block;
    }

    .grass {
        display: none;
    }

    .object1 {
        display: none;
    }

    .object2 {
        width: 127%;
        top: 10%;
    }

    .street {
        animation: street 20s infinite;
    }
}


@keyframes street {
    from {
        translate: 0;
    }

    to {
        translate: -1000px;
    }
}


@keyframes street2 {
    from {
        translate: 0;
    }

    to {
        translate: -700px;
    }
}

@keyframes stopatcrossing {
    0% {
        left: 0%;
    }

    12% {
        left: 5%;
    }

    30% {
        left: -13%;
    }

    40% {
        left: 5%;
    }

    50% {
        left: -5%;
    }

    65% {
        left: 4%;
    }

    80% {
        left: -5%;
    }

    95% {
        left: 6%;
    }
}


/* fonts */
.rowdies-light {
    font-family: "Rowdies", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .rowdies-regular {
    font-family: "Rowdies", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .rowdies-bold {
    font-family: "Rowdies", serif;
    font-weight: 700;
    font-style: normal;
  }
  
