:root {
    --primary-color: linear-gradient(#FFF, #9b9b9b);
    --secondary-color: #0A1252;
    --luckynumber-color: #0775ff;
}


* {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    overflow: visible;
}

/* never stop exploring */
#text {
    position: absolute;
    left: 4%;
    top: 15%;
}

/* never */

#Never path:nth-child(1) {
    stroke-dasharray: 15px;
    stroke-dashoffset: 15px;
    animation: writing 2s ease forwards 0.2s;
}

#Never path:nth-child(2) {
    stroke-dasharray: 43px;
    stroke-dashoffset: 43px;
    animation: writing 2s ease forwards 0.4s;

}

#Never path:nth-child(3) {
    stroke-dasharray: 42px;
    stroke-dashoffset: 42px;
    animation: writing 2s ease forwards 0.8s;

}

#Never path:nth-child(4) {
    stroke-dasharray: 38px;
    stroke-dashoffset: 38px;
    animation: writing 2s ease forwards 1.2s;

}

#Never path:nth-child(5) {
    stroke-dasharray: 46px;
    stroke-dashoffset: 46px;
    animation: writing 2s ease forwards 1.4s;

}

#Never path:nth-child(6) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 1.7s;

}

/* stop */

#stop path:nth-child(1) {
    stroke-dasharray: 70px;
    stroke-dashoffset: 70px;
    animation: writing 2s ease forwards 0.2s;
}

#stop path:nth-child(2) {
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: writing 2s ease forwards 0.4s;

}

#stop path:nth-child(3) {
    stroke-dasharray: 10px;
    stroke-dashoffset: 10px;
    animation: writing 2s ease forwards 0.8s;

}

#stop path:nth-child(4) {
    stroke-dasharray: 40px;
    stroke-dashoffset: 40px;
    animation: writing 2s ease forwards 1.2s;
}

#stop path:nth-child(5) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 1.5s;
}

/* exploring */

#exploring path:nth-child(1) {
    stroke-dasharray: 90px;
    stroke-dashoffset: 90px;
    animation: writing 2s ease forwards 0.1s;
}

#exploring path:nth-child(2) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 0.2s;
}

#exploring path:nth-child(3) {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: writing 2s ease forwards 0.3s;
}

#exploring path:nth-child(4) {
    stroke-dasharray: 69px;
    stroke-dashoffset: 69px;
    animation: writing 2s ease forwards 0.3s;
}

#exploring path:nth-child(5) {
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
    animation: writing 2s ease forwards 0.5s;
}

#exploring path:nth-child(6) {
    stroke-dasharray: 45px;
    stroke-dashoffset: 45px;
    animation: writing 2s ease forwards 0.5s;
}

#exploring path:nth-child(7) {
    stroke-dasharray: 60px;
    stroke-dashoffset: 60px;
    animation: writing 2s ease forwards 0.7s;
}

#exploring path:nth-child(8) {
    stroke-dasharray: 30px;
    stroke-dashoffset: 30px;
    animation: writing 2s ease forwards 0.9s;
}

#exploring path:nth-child(9) {
    stroke-dasharray: 50px;
    stroke-dashoffset: 50px;
    animation: writing 2s ease forwards 1.0s;
}

#exploring path:nth-child(10) {
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation: writing 2s ease forwards 1.2s;
}

#exploring path:nth-child(11) {
    stroke-dasharray: 35px;
    stroke-dashoffset: 35px;
    animation: writing 2s ease forwards 1.7s;
}

#exploring path:nth-child(12) {
    stroke-dasharray: 35px;
    stroke-dashoffset: 35px;
    animation: writing 2s ease forwards 1.9s;
}

@keyframes writing{
    to{
        stroke-dashoffset: 0;
    }
}


.dropdownmobile {
    text-align: center;
    background-image: linear-gradient(#FFF, #9b9b9b);
    padding: 10px;
    position: relative;
}

.dropdownbutton {
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdowncontent {
    display: none;
    
    position: absolute;
    top: 60px; /* Adjusted for button height */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: left;
}

.dropdowncontent a {
    color: black;
    border: 3px solid var(--secondary-color);
    padding: 12px 16px;
    display: block;
}

.dropdowncontent a:hover {
    background-color: #ddd;
}

.dropdownmobile:hover .dropdowncontent {
    display: block;
}

.active {
    background-color: #afafaf;
}

.dropdownmobile button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 1em;
}

.desktopheader {
    background-image: var(--primary-color);
    height: 3em;
    padding-left: 5px;
    display: flex; 
    justify-content: center;
    gap: 1em;
    align-items: center; 
}

.desktopheader a {
    border: 3px solid var(--secondary-color);
    padding: 0.5em;
    text-decoration: none;
    background-color: #000;
    color: #fefefe;
    border-radius: 1em;
    height: 2em;
    display: flex; /* Ensure content inside is vertically aligned */
    justify-content: center;
    align-items: center;
    position: relative; /* Fix typo from "absoulte" to "relative" */
}

.object2 {
    position: grid;
    width: 100%;
    top: -10%;
    z-index: 2;
}


/* Banner styles for mobile */
body {
    background-image: linear-gradient(to bottom right, #9ca4ff,#07275c);
    min-height: 100%;
    min-width: 100%;
    z-index: -1;
}

.object1 {
    position: absolute;
    z-index: 3;
    top: 26%;
    animation: object1moving 15s linear infinite;
    width: 700px;
}


.grass {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: -10%;
}

/* Keyframes */
@keyframes object1moving {
    0% {
        right: 0px;
    }
    50% {
        right: -50px;
    }
    100% {
        right: 0px;
    }
}

@keyframes backgroundmoving {
    0% {
        left: 0px;
    }
    100% {
        left: -100px;
    }
}

/* Picnic table styles */
.picnic {
    position: absolute;
    top: 1000px;
    z-index: 3;
}

.rumblock1 {
    position: absolute;
    z-index: 8;
    top: 1030px;
    transform: scale(0.3) rotateX(40deg);
}

.rumblock1:after {
    animation: pickup 0.3s linear;
}

.sprint1 {
    display: none;
}

.sprint1.active {
    display: block;
    position: absolute;
    z-index: 8;
    background-image: var(--primary-color);
    padding: 3em;
    width: 75%;
}

.rumikubblocks a {
    background-color: #000;
    color: #fefefe;
    padding: 1em;
    display: flex;
    justify-content: center;
}


@keyframes pickup {
    0% {
     transform: scale(0.3) rotateX(40deg);
    }

    100% {
        transform: scale(0.3) rotateX(30deg) translateY(-2em);  
    }
}


.rumikub-board {
    position: relative;
    top: -44%;
    scale: 0.2;
    left: -26%;
    width: 70%;
    height: 10%;
}

section {
    height: 20em;
}
/* nostalgia channel */

.nostalgiachannel {
    height: 40em;
    background: linear-gradient(#0A1252, #474F96);
    padding: 1.5em;
    display: grid;
    place-items: center;
    gap: 1em;
    grid-template-rows: 6fr 1fr 1fr;
    margin-top: -1%;
}

.nostalgiachannel iframe {
    width: 100%;
    height: 70%;
}

.nostalgiachannel h2 {
    color: #DEDEDE;
}

.nostalgiachannel p {
    color: #DEDEDE;
}

.nostalgiachannel a {
    padding: 1em;
    color: #FEFEFE;
    background-color: #0A1252;
    border: 2px solid #FFF ;
    border-radius: 1em;
}

.rumikubmobile {
    display: grid;
    width: 100%;
}


.urbandesign {
    height: 500px;
}

.street {
    object-fit: cover;
    height: 500px;
    animation: street2 25s infinite;
}

.runningman {
    position: relative;
    top: -169%;
    z-index: 4;
    scale: 0.3;
    left: 0%;
    animation: stopatcrossing 25s infinite;
}


.globe {
    height: 40em;
}

.worldmap {
    position: relative;
    width: 100%;
    top: 35%;
}

.contact {
    height: 40em;
}

.formcarry-container {
    position: relative;
    left: 10%;
}

.formcarry-container label {
    font-size: 24px;
    display: flex;
    padding: 0.2em;
}

.formcarry-container input {
    width: 80%;
    height: 20%;
    font-size: 24px;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE;
    padding: 0.2em;
}

.formcarry-container textarea {
    width: 80%;
    height: 20%;
    font-size: 24px;
    padding: 0.2em;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE;
}

.formcarry-container button {
    position: relative;
    background-color: #0A1252;
    color: #FEFEFE;
    border: 3px solid #FEFEFE; 
    padding: 1em;
    right: -30%;
    top: 10%;
    border-radius: 1em;
    font-size: 24px;

}

footer {
    height: 25em;
    background-color: #2d2a2a;
    display: grid;
    place-items: center;
}

.logo {
    display: grid;
    place-items: center;
}

.line {
    height: 0.5em;
    width: 80%;
    background-color: #FEFEFE;
}

.buttons {
    display: flex;
    gap: 1em;
}

.buttons a {
    background-color: #9b9b9b;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    gap: 1em;
    padding: 0.4em;
}


@media only screen and (min-width: 768px) {
    .dropdownmobile {
        display: none;
    }

    .grass {
        display: flex;
    }

    section {
        display: none;
    }

    .banner {
        display: block;
    }

    footer {
        display: none;
    }

    body {
        overflow: hidden;
    }

    .object1 {
        scale: 200%;
        left: 15%;
    }

}

/* Mobile styles */
@media only screen and (max-width: 768px) {
    .dropdownmobile {
        display: block;
    }

    .grass {
        display: none;
    }

    .object1 {
        display: none;
    }

    .object2 {
        width: 127%;
        top: 10%;
    }
}


@media only screen and (max-width: 500px) {
    .dropdownmobile {
        display: block;
    }

    .grass {
        display: none;
    }

    .object1 {
        display: none;
    }

    .object2 {
        width: 127%;
        top: 10%;
    }

    .street {
        animation: street 20s infinite;
    }
}


@keyframes street {
    from {
        translate: 0;
    }

    to {
        translate: -1000px;
    }
}


@keyframes street2 {
    from {
        translate: 0;
    }

    to {
        translate: -700px;
    }
}

@keyframes stopatcrossing {
    0% {
        left: 0%;
    }

    12% {
        left: 5%;
    }

    30% {
        left: -13%;
    }

    40% {
        left: 5%;
    }

    50% {
        left: -5%;
    }

    65% {
        left: 4%;
    }

    80% {
        left: -5%;
    }

    95% {
        left: 6%;
    }
}



