body {
    margin: 0;
    padding: 0;
    font-family: 'Jersey 20', sans-serif;
    text-decoration: none;
}

/* Header Styling */
.desktop-header {
    height: 150px;
    width: 100%;
    background-image: var(--primary-color-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;

    @media (max-width: 720px) {
            display: none;
    }
}

.logo {
    height: 100px;
    width: 100px;
    display: flex;
    align-content: center;
    margin-left: 10em;

    @media (max-width: 900px) {
        margin-left: 5em;
    }

    @media (max-width: 720px) {
        height: 50px;
    }
}

.nav-buttons {
    display: flex;
    gap: 15px;
    margin-right: 10em;

    @media (max-width: 900px) {
        margin-right: 5em;
    }


}

.nav-buttons a {
    background-color: var(--color-3);
    border: 1px solid var(--color-2);
    border-radius: var(--radius-1);
    padding: 1em;
    font-size: 16px;
    cursor: pointer;
}

/* Mobile Header */
.mobile-header {
    height: 100px;
    width: 100%;
    background-image: var(--primary-color-gradient);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    @media (min-width: 720px) {
        display: none;
    }
}

.mobile-header select {
    background-color: var(--color-1);
    height: 40px;
    width: 150px;
    border: 2px solid var(--color-4);
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: -15em;
}

/* About Section */
.about-me {
    text-align: start;
    padding: 20px 20px;

    h1 {
        margin-bottom: 10px;
    }

    h2 {
        position: relative;
        top: -2em;
        left: 0.2em;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1080px;
        display: block;
        margin: auto;
        z-index: -1;

        @media (max-width: 1400px) {
            top: -3em;
        }

        @media (max-width: 1220px) {
            top: -7.5em;
            height: 1080px;
        }

        @media (max-width: 800px) {
            top: -10em;
            height: 900px;
        }

        @media (max-width: 720px) {
            top: 0em;
            height: 500px;
        }

    }
}


/* Blue Line */
.blueline {
    height: 30px;
    width: 100%;
    background-image: var(--primary-color-gradient);

    @media (max-width: 1220px) {
        margin-top: -5em;
    }
}

/* Tanavad Section */
.tanavad {

    h2 {
        position: relative;
        top: -0.5em;
        left: 0.4em;
    }
    text-align: start;
}

.tanavad video {
    width: 100%;
    margin-top: -12.5em;
    margin-bottom: -0.7em;

}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: var(--primary-color-gradient);
    color: white;
    text-align: center;
}

.logo-footer img {
    width: 100px;
    margin-bottom: 10px;
}

.links {
    display: flex;
    gap: 15px;
}

.links a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #f39c12;
}
