{% render 'partials/header.liquid', title:'about me' %}

<div class="grey-area">
    <h2>About Me</h2>
</div>

<div class="blue-line"></div>

<main>

<section>
    <p>Hello there, welcome on my page! My name is Miel van Sleeuwen. I was born in a litte town in the Neteherlands. I am striving to express creativity with visuals. I always was interested in making content with a combination of entertainment. On this tab you will find my experience and education</p>
</section>

</main>

{% render 'partials/footer.liquid' %}