{% render 'partials/header.liquid', title:'about me' %}

<div class="grey-area">
    <h2 class="about-me-text">About Me</h2>
</div>

<div class="blue-line"></div>

<main>

<section class="about-section">
    
    <h3>Miel van Sleeuwen</h3>
    <p>Hello there, welcome on my portfolio! My name is Miel van Sleeuwen and I am a Freelance Front end webdebveloper from the Netherlands.</p>
    
    <h3>Roots</h3>
    I was born and raised in a litte town called Boekel in the Neteherlands. I am striving to express creativity with visuals. I always was passionate in making content with a combination of entertainment.</p>
    
    <h3>Education</h3>
    <p>Browse through the buttons about the studies I did.</p>

    <a href="/about/urban-design">Urban Planning</a>
    <a href="/about/FDND">FDND</a>

    <h3>Work Experience</h3>
    <p>Raised between the plants you can say I am a hard worker! Scroll through the workexperiences I have in my life.</p>
    
    <a href="/about/arendnest">Arendnest</a>
    <a href="/about/windows-expert">Windows-Expert</a>
    <a href="/about/subway">Subway</a>

    <h3>What can I offer you?</h3>
    <p> With experience in the Frontend webdevelopment and creating videos online I can assure to make the most creative website. I have experience in programming language such as HTML, CSS, JavaScript and Shopify Liquid. I will introduce you a vast design to your choise to rise up your branding.</p>

    {% comment %} button met Youtube carriere {% endcomment %}
     {% comment %} button met urban design {% endcomment %}
      {% comment %} button met ervaring als FrontEnder {% endcomment %}
    {% comment %} button met ervaring in Vrijwillgerswerk {% endcomment %}
     {% comment %} button met de omgeving waar ik opgroeide {% endcomment %}
      {% comment %} button met mijn reis ervaringen {% endcomment %}


</main>

{% render 'partials/footer.liquid' %}