{% render 'partials/header.liquid', title:'Contact' %}


<main>

    <section class="contact-content">

        <article class="grey-area-contact">
            <div>
                <!-- background imgage -->
                 <h2>Contact Me</h2>
                 <p> If you want to collaborate with me contact me!</p>
            </div>
                <div class="contact-blocks">
                </div>
            <div>
            </div>
        </article>
        

    </section>

</main>
    

{% render 'partials/footer.liquid' %}