{% render 'partials/header.liquid', title:'Home' %}


<main>

    <section class="journal-content">

        <article class="grey-area-journal">
            <div>
                <!-- background imgage -->
                 <img src="assets/journal/rumikubboard.png" width="200px">
            </div>
                <div class="rumikkub-blocks">
                    <img src="assets/journal/rumikub-01.png" width="50px">
                    <img src="assets/journal/rumikub-02.png" width="50px">
                    <img src="assets/journal/rumikub-03.png" width="50px">
                    <img src="assets/journal/rumikub-04.png" width="50px">
                    <img src="assets/journal/rumikub-05.png" width="50px">
                    <img src="assets/journal/rumikub-06.png" width="50px">
                    <img src="assets/journal/rumikub-07.png" width="50px">
                    <img src="assets/journal/rumikub-08.png" width="50px">
                    <img src="assets/journal/rumikub-09.png" width="50px">      
                </div>
            <div>
                {{ files | json }}

                {% for file in files %}
                    <a href="learning-journal/{{ file | slice:0,-3 }}">{{ file | slice:0,-3 }}</a>
                {% endfor %}
            </div>
        </article>
        

    </section>

</main>
    
{% render 'partials/footer.liquid' %}