{% render 'partials/header.liquid', title:'Home' %}
<div class="grey-area">
    <h2 class="about-me">Projects</h2>
</div>

<div class="blue-line"></div>


<main>

<section class="about-section">
    <img class="banner-about" src="/assets/about/banner-about.png">
    <h3>Miel van Sleeuwen</h3>
    <p>Hello there, welcome on my page! My name is Miel van Sleeuwen. I was born and raised in a litte town in the Neteherlands. I am striving to express creativity with visuals. I always was interested in making content with a combination of entertainment. On this tab you will find my experience and education</p>

    <p>Browse throught the buttons I made up by myself what kind of experience I have! It can be so variating discover it!</p>

    <div class="project-grid">
        <article>
            
        </article>
    </div>
    {% comment %} button met Youtube carriere {% endcomment %}
     {% comment %} button met urban design {% endcomment %}
      {% comment %} button met ervaring als FrontEnder {% endcomment %}
    {% comment %} button met ervaring in Vrijwillgerswerk {% endcomment %}
     {% comment %} button met de omgeving waar ik opgroeide {% endcomment %}
      {% comment %} button met mijn reis ervaringen {% endcomment %}


</main>

{% render 'partials/footer.liquid' %}