{% render 'partials/header.liquid', title:'Home' %}



<main>

    <section class="journal-content">

        <article class="grey-area-projects">
            <div>
                <!-- background imgage -->
                 <h2>My Projects</h2>
            </div>
                <div class="projects-blocks">
                </div>
            <div>
            </div>
        </article>
        

    </section>

</main>

{% render 'partials/footer.liquid' %}